.cookie {
    position: fixed;
    max-width: 1285px;
    bottom: 30px;
    width: 90%;
    padding: 30px 60px 30px 30px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgba(141, 141, 141, 0.1) -10px -5px 30px;
    box-shadow: rgba(141, 141, 141, 0.1) -10px -5px 30px;
    border-radius: 16px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

.cookie__content {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    max-width: 783px;
    color: #383838;
}

.cookie__accept-button {
    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    background-color: #954ced;
    border: 2px solid transparent;
    border-radius: 16px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 25px;
    margin-right: 20px;
    max-width: 100%;
    overflow: hidden;
    padding: 14px 28px;
    position: relative;
    -webkit-transition: scale .3s;
    -o-transition: scale .3s;
    transition: scale .3s;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
}

.cookie__accept-button:before {
    background-color: #181818;
    border-radius: 50%;
    bottom: -35px;
    content: "";
    height: 0;
    left: -40px;
    position: absolute;
    -webkit-transition: left .3s, bottom .3s, height 1s, width 1s, scale .3s;
    -o-transition: left .3s, bottom .3s, height 1s, width 1s, scale .3s;
    transition: left .3s, bottom .3s, height 1s, width 1s, scale .3s;
    width: 0;
    z-index: -1;
}

.cookie__accept-button:hover:before {
    bottom: 0;
    height: 100%;
    left: 0;
    scale: 5;
    -webkit-transition: left .3s, bottom .3s, height .5s, width 1s;
    -o-transition: left .3s, bottom .3s, height .5s, width 1s;
    transition: left .3s, bottom .3s, height .5s, width 1s;
    width: 100%;
}



.cookie__decline-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #954ced;
    border-radius: 16px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 25px;
    max-width: 100%;
    overflow: hidden;
    padding: 14px 28px;
    position: relative;
    -webkit-transition: scale .3s;
    -o-transition: scale .3s;
    transition: scale .3s;
}

.cookie__decline-button:before {
    background-color: rgba(149, 76, 237, .2);
    border-radius: 50%;
    bottom: -35px;
    content: "";
    height: 0;
    left: -40px;
    position: absolute;
    -webkit-transition: left .3s, bottom .3s, height 1s, width 1s, scale .3s;
    -o-transition: left .3s, bottom .3s, height 1s, width 1s, scale .3s;
    transition: left .3s, bottom .3s, height 1s, width 1s, scale .3s;
    width: 0;
    z-index: -1;
}

.cookie__decline-button:hover:before {
    bottom: 0;
    height: 100%;
    left: 0;
    scale: 5;
    -webkit-transition: left .3s, bottom .3s, height .5s, width 1s;
    -o-transition: left .3s, bottom .3s, height .5s, width 1s;
    transition: left .3s, bottom .3s, height .5s, width 1s;
    width: 100%;
}

.hidden {
    display: none;
}

.cookie__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}


@media (max-width: 768px) {

    .cookie {
        flex-direction: column;
        padding: 30px 20px;
        gap: 40px;
        bottom: 20px;
        width: 90%;
    }

    .cookie__content {
        line-height: 28px;
    }

    .cookie__accept-button {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .buttonWrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
}