/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* убираем нижний ползунок прокрутки */
body {
    overflow-x: hidden;
}

/* фон нашего модального окна */
.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 100;
}

/* позиционирование самого модального окна */
.modalActive {
    position: absolute;
    width: 417px;
    height: 587px;
    top: calc(50% - 294px);
    left: calc(50% - 209px);
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: default;
    padding: 40px;
    color: #070707;
}

/* кнопочка закрытия модального окна */
.modalClose {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

/* делаем позиционирование внутренних элементов относительно модального окна */
.modalWindow {
    position: relative;
}

.modalWindow form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.modalWindow__form-btn {
    padding: 16px 31px;
    color: #FFFFFF;
    background-color: #B9B9B9;
    border-radius: 16px;
    height: 57px;
    min-width: 182px;
    font-size: 1.25rem;
}