@media (max-width: 1368px) {

    .hero {
        padding: 0;
    }

    .hero__container {
        margin-bottom: 124px;
        padding: 22px 16px 0 16px;
    }

    .header__menu-left {
        padding: 0 16px;
    }

    .header__menu-right {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .about-budss__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 40px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .about-budss__right {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .about-budss__title {
        text-align: center;
    }

    .about-budss__left img {
        display: none;
    }

    .about-budss {
        margin-bottom: 40px;
    }

    .about-budss__left__description {
        margin: 0;
    }

    .features__container {
        padding: 80px 16px;
    }

    .features__card {
        max-height: 392px;
    }

    .features__card-text {
        margin: 20px;
    }

    .features__card-text-1 {
        max-width: 43%;
    }

    .features__card-text-2 {
        max-width: 74%;
    }


    .features__card-text-4 {
        max-width: 50%;
    }

    .features__card-title {
        font-size: 32px;
        line-height: 32px;
    }

    .contact-sales {
        text-align: center;
        padding: 60px 0;
        border: 1px solid #CFCFCF;
        border-radius: 60px;
        margin: 0 16px;
        margin-bottom: 40px;
    }

    .contacts {
        padding: 40px 0;
    }

    .footer {
        padding: 20px 16px;
    }

    .footer__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-bottom: 40px;
    }

    .footer__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 1rem;
    }

    .footer__downloads {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .footer__button {
        margin-bottom: 2.5rem;
    }

    .footer__downloads a:not(:last-child) {
        margin-bottom: 1.25rem;
    }

    .footer__legal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 1rem;
        font-weight: 500;
        font-size: 1.25rem;
        -webkit-text-decoration-line: none;
                text-decoration-line: none;
        margin-bottom: 40px;
    }
}

@media (max-width: 940px) {
    .brand-awareness__title {
        font-size: 72px;
    }

    .features__card-text-1 {
        max-width: 55%;
    }

    .features__card-title {
        font-size: 54px;
        line-height: 55px;
    }

    .features__card:nth-child(1),
    .features__card:nth-child(4) {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100%);
                flex: 0 0 calc(100%);
    }

    .features__card:nth-child(2),
    .features__card:nth-child(3) {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100%);
                flex: 0 0 calc(100%);
    }
}

@media (max-width: 768px) {

    .header__menu-left {
        padding: 0;
    }

    .header__logo p {
        font-size: 37px;
        font-weight: 600;
        line-height: 17px;
    }

    .header__menu-right {
        padding: 14px 32px 0 22px;
    }

    .header__menu-right.sticky {
        padding: 14px 32px 0 22px;
    }

    .header__container {
        margin-bottom: 51px;
    }

    .hero__title {
        font-size: 40px;
        line-height: 42.4px;
        margin-bottom: 20px;
    }

    .hero__description {
        font-size: 16px;
        line-height: 20.16px;
        margin-bottom: 40px;

    }

    .hero__picture {
        max-width: 100%;
    }

    .hero {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        text-align: center;
    }

    .hero__container {
        max-width: 100%;
        padding: 22px 16px 0 16px;
    }

    .hero__picture img {
        max-width: 100%;
    }

    .title {
        font-size: 40px;
        font-weight: 700;
        line-height: 42.4px;
    }

    .about-budss__title {
        padding: 0;
        text-align: left;
        margin-bottom: 30px;
    }

    .about-budss {
        padding: 0 1rem;
    }

    .about-budss__container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .about-budss__right__item {
        max-width: 100%;
        width: 100%;
    }

    .animated-showcase__background {
        gap: 93px;
    }

    .statistics__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 39px;
        padding: 40px 16px;
    }

    .statistics__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .statistics__value {
        margin: 0;
        font-size: 2.5rem;
        line-height: 42.4px;
    }

    .statistics__label {
        font-size: 1.25rem;
        line-height: 25.2px;
        white-space: normal;
    }

    .features__description {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 28.8px;
    }

    .contact-sales {
        padding: 40px 20px;
    }

    .brand-awareness {
        margin: 0 16px 40px 16px;
    }

    .square {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .shopify {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .wooCommerce {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }

    .squareSace {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
    }

    .clover {
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5;
    }

    .brand-awareness-text {
        margin: 0;
        max-width: 100%;
    }

    .features__header {
        width: 351px
    }

    .features__description::before {
        width: 243px;
        height: 21.7px;
        left: auto;
        right: 0;
        bottom: 1px;
        -webkit-transform: rotate(-1.69deg);
            -ms-transform: rotate(-1.69deg);
                transform: rotate(-1.69deg);
    }

    .brand-awareness__links {
        max-width: 340px;
        min-width: auto;
    }

    .brand-awareness__links img {
        width: 64px;
    }

    .brand-awareness__links img:nth-child(1) {
        margin-left: 0;
    }

    .brand-awareness__links img:nth-child(2),
    .brand-awareness__links img:nth-child(4) {
        margin-left: 120px;
    }

    .brand-awareness__links img:nth-child(3) {
        margin-left: 92px;
    }

    .brands {
        padding: 50px 20px;
        gap: 30px 40px;
    }

    .footer__bottom {
        margin-top: 12px;
        margin-bottom: 0;
    }

}

@media (max-width: 690px) {

    .features-image-1 {
        border-radius: 0 30px 0;
    }

    .features__card-text {
        max-width: 100%;
    }

    .features__card-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 33.92px;
    }

    .features__card-description {
        font-size: 1rem;
        line-height: 20.16px;
    }

    .features__cards {
        max-width: 364px;
    }

    .features__card-2 {
        height: 333px
    }

    .features-bag-1 {
        left: 0.625rem;
    }

    .features-bag-2 {
        right: 8.438rem;
    }

    .features-bag-3 {
        width: 61px;
        bottom: 1rem;
        top: auto;
    }

    .features__card-3 {
        height: 313px;
    }

    .features__card-4 {
        min-height: 395px;
    }

    .features-image-4 {
        width: 143px;
        right: 3.438rem;
    }

    .brands img {
        max-height: 43px;
    }
}

@media (max-width: 475px) {
    .header__btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
} 

@media (max-width: 425px) {
    .btn {
        width: 100%;
    }

    .btn::before {
        width: 4rem;
    }

    .header__logo p {
        font-size: 29.6px;
        font-weight: 600;
        line-height: 13.6px;
    }

    .header__logo img {
        width: 27px;
    }

    .header__menu-right {
        padding: 14px 16px 0 22px;
    }

    .header__container {
        margin-bottom: 42px;
    }

    .hero {
        text-align: start;
        margin-bottom: 40px;
    }

    .hero__container {
        margin-bottom: 122px;
    }

    .hero__picture img {
        width: 325px;
    }

    .header__menu-right.sticky {
        padding: 14px 16px 0 22px;
    }

    .about-budss__left__description {
        font-size: 24px;
        line-height: 28.8px;
        width: 273px;
    }

    .about-budss__left__description::before {
        width: 235px;
        height: 23px;
    }

    .about-budss__right__title {
        font-size: 2rem;
        line-height: 33.92px;
        margin-bottom: 16px;
    }

    .about-budss__right__desctiption {
        font-size: 1rem;
        line-height: 20.16px;
    }

    .about-budss__right {
        gap: 57px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .about-budss__right__icon {
        margin-bottom: 9px;
    }
    
    .about-budss {
        margin-bottom: 78px;
    }

    .animated-showcase {
        margin-bottom: 80px;
    }

    .features__card {
        border-radius: 20px;
    }

    .features__card-title {
        margin-bottom: 17px;
    }

    .statistics__container {
        padding-right: 13px;
    }

    .scrolling-text img {
        width: 796px;
    }

    .animated-showcase__container {
        padding: 60px 0;
    }

    .animated-showcase__phone {
        width: 228px;
    }

    .features-image-4 {
        bottom: -20px;
    }

    .brand-awareness__title {
        margin-bottom: 1.08rem;
    }

    .brands {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .wooCommerce {
        width: 91px;
    }

    .square {
        width: 131px;
    }

    .shopify {
        width: 149px;
    }

    .squareSace {
        width: 196px;
    }

    .clover {
        width: 128px;
    }

    .footer__brand {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 6px;
        padding-top: 6px;
        margin-bottom: 26px;
    }

    .footer__top {
        gap: 17px;
        padding-bottom: 39px;
    }

    .footer__legal {
        margin-bottom: 22px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer__brand p {
        font-size: 29.6px;
        font-weight: 600;
        line-height: 13.6px;
    }

    .footer__brand img {
        width: 27px;
    }

    .footer__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer__button {
        width: 184px;
        margin-right: 0;
    }
    .hero__picture--desktop {
        display: none;
    }
}

@media (min-width: 426px) {
    .hero__picture--mobile {
        display: none;
    }
}