@media (max-width: 1368px) {

    .hero {
        padding: 0;
    }

    .hero__container {
        margin-bottom: 7.75rem;
        padding: 1.375rem 1rem 0 1rem;
    }

    .header__menu-left {
        padding: 0 1rem;
    }

    .header__menu-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .about-budss__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2.5rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about-budss__right {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .about-budss__title {
        text-align: center;
    }

    .about-budss__left img {
        display: none;
    }

    .about-budss {
        margin-bottom: 2.5rem;
    }

    .about-budss__left__description {
        margin: 0;
    }

    .features__container {
        padding: 5rem 1rem;
    }

    .features__card {
        max-height: 392px;
    }

    .features__card-text {
        margin: 1.25rem;
    }

    .features__card-text-1 {
        max-width: 43%;
    }

    .features__card-text-2 {
        max-width: 74%;
    }


    .features__card-text-4 {
        max-width: 50%;
    }

    .features__card-title {
        font-size: 2rem;
        line-height: 2rem;
    }

    .contact-sales {
        text-align: center;
        padding: 3.75rem 0;
        border: 1px solid #CFCFCF;
        border-radius: 60px;
        margin: 0 1rem;
        margin-bottom: 2.5rem;
    }

    .contacts {
        padding: 2.5rem 0;
    }

    .footer {
        padding: 1.25rem 1rem;
    }

    .footer__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-bottom: 2.5rem;
    }

    .footer__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .footer__downloads {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer__button {
        margin-bottom: 2.5rem;
    }

    .footer__downloads a:not(:last-child) {
        margin-bottom: 1.25rem;
    }

    .footer__legal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 1rem;
        font-weight: 500;
        font-size: 1.25rem;
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 940px) {
    .brand-awareness__title {
        font-size: 4.5rem;
    }

    .features__card-text-1 {
        max-width: 55%;
    }

    .features__card-title {
        font-size: 3.375rem;
        line-height: 3.438;
    }

    .features__card:nth-child(1),
    .features__card:nth-child(4) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
        flex: 0 0 calc(100%);
    }

    .features__card:nth-child(2),
    .features__card:nth-child(3) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
        flex: 0 0 calc(100%);
    }
}

@media (max-width: 768px) {

    .header__menu-left {
        padding: 0;
    }

    .header__logo p {
        font-size: 2.313rem;
        font-weight: 600;
        line-height: 1.063rem;
    }

    .header__menu-right,
    .header__menu-right.sticky {
        padding: 0.875rem 2rem 0.5rem 1.375rem;
    }

    .header__container {
        margin-bottom: 3.188rem;
    }

    .hero__title {
        font-size: 2.5rem;
        line-height: 2.65rem;
        margin-bottom: 1.25rem;
    }

    .hero__description {
        font-size: 1rem;
        line-height: 1.26rem;
        margin-bottom: 2.5rem;

    }

    .hero__picture {
        max-width: 100%;
    }

    .hero {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        text-align: center;
    }

    .hero__container {
        max-width: 100%;
        padding: 1.375rem 1rem 0 1rem;
    }

    .hero__picture img {
        max-width: 100%;
    }

    .title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.65rem;
    }

    .about-budss__title {
        padding: 0;
        text-align: left;
        margin-bottom: 1.875rem;
    }

    .about-budss {
        padding: 0 1rem;
    }

    .about-budss__container {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .about-budss__right__item {
        max-width: 100%;
        width: 100%;
    }

    .animated-showcase__background {
        gap: 5.813rem;
    }

    .statistics__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 2.438rem;
        padding: 2.5rem 16px;
    }

    .statistics__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1.25rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .statistics__value {
        margin: 0;
        font-size: 2.5rem;
        line-height: 2.65rem;
    }

    .statistics__label {
        font-size: 1.25rem;
        line-height: 25.2px;
        white-space: normal;
    }

    .features__description {
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .contact-sales {
        padding: 2.5rem 1.25rem;
    }

    .brand-awareness {
        margin: 0 1rem 2.5rem 1rem;
    }

    .square {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .shopify {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .wooCommerce {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .squareSace {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .clover {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .brand-awareness-text {
        margin: 0;
        max-width: 100%;
    }

    .features__header {
        width: 351px
    }

    .features__description::before {
        width: 243px;
        height: 1.356rem;
        left: auto;
        right: 0;
        bottom: 1px;
        -webkit-transform: rotate(-1.69deg);
        -ms-transform: rotate(-1.69deg);
        transform: rotate(-1.69deg);
    }

    .brand-awareness__links {
        max-width: 340px;
        min-width: auto;
    }

    .brand-awareness__links img {
        width: 4rem;
    }

    .brand-awareness__links img:nth-child(1) {
        margin-left: 0;
    }

    .brand-awareness__links img:nth-child(2),
    .brand-awareness__links img:nth-child(4) {
        margin-left: 7.5rem;
    }

    .brand-awareness__links img:nth-child(3) {
        margin-left: 5.75rem;
    }

    .brands {
        padding: 3.125rem 1.25rem;
        gap: 1.875rem 2.5rem;
    }

    .footer__bottom {
        margin-top: 0.75rem;
        margin-bottom: 0;
    }

}

@media (max-width: 690px) {

    .features-image-1 {
        border-radius: 0 1.875rem 0;
    }

    .features__card-text {
        max-width: 100%;
    }

    .features__card-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.12rem;
    }

    .features__card-description {
        font-size: 1rem;
        line-height: 1.26rem;
    }

    .features__cards {
        max-width: 364px;
    }

    .features__card-2 {
        height: 333px
    }

    .features-bag-1 {
        left: 0.625rem;
    }

    .features-bag-2 {
        right: 8.438rem;
    }

    .features-bag-3 {
        width: 61px;
        bottom: 1rem;
        top: auto;
    }

    .features__card-3 {
        height: 313px;
    }

    .features__card-4 {
        min-height: 395px;
    }

    .features-image-4 {
        width: 143px;
        right: 3.438rem;
    }

    .brands img {
        max-height: 43px;
    }
}

@media (max-width: 475px) {
    .header__btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 425px) {
    .btn {
        width: 100%;
    }

    .btn::before {
        width: 4rem;
    }

    .header__logo p {
        font-size: 29.6px;
        font-weight: 600;
        line-height: 13.6px;
    }

    .header__logo img {
        width: 27px;
    }

    .header__container {
        margin-bottom: 2.625rem;
    }

    .hero {
        text-align: start;
        margin-bottom: 2.5rem;
    }

    .hero__container {
        margin-bottom: 7.625rem;
    }

    .hero__picture img {
        width: 325px;
    }

    .header__menu-right {
        padding: 0.875rem 1rem 0 1.375rem;
    }

    .header__menu-right.sticky {
        padding: 0.875rem 1rem 0 1.375rem;
    }

    .header__wrapper.sticky-padding {
        min-height: 96px;
    }

    .about-budss__left__description {
        font-size: 1.5rem;
        line-height: 1.8rem;
        width: 273px;
    }

    .about-budss__left__description::before {
        width: 235px;
        height: 23px;
    }

    .about-budss__right__title {
        font-size: 2rem;
        line-height: 2.12rem;
        margin-bottom: 1rem;
    }

    .about-budss__right__desctiption {
        font-size: 1rem;
        line-height: 1.26rem;
    }

    .about-budss__right {
        gap: 3.563rem;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .about-budss__right__icon {
        margin-bottom: 0.563rem;
    }

    .about-budss {
        margin-bottom: 4.875rem;
    }

    .animated-showcase {
        margin-bottom: 5rem;
    }

    .features__card {
        border-radius: 1.25rem;
    }

    .features__card-title {
        margin-bottom: 17px;
    }

    .statistics__container {
        padding-right: 1.063rem;
    }

    .scrolling-text img {
        width: 796px;
    }

    .animated-showcase__container {
        padding: 3.75rem 0;
    }

    .animated-showcase__phone {
        width: 228px;
    }

    .features-image-4 {
        bottom: -1.25rem;
    }

    .brand-awareness__title {
        margin-bottom: 1.08rem;
    }

    .brands {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .wooCommerce {
        width: 91px;
    }

    .square {
        width: 131px;
    }

    .shopify {
        width: 149px;
    }

    .squareSace {
        width: 196px;
    }

    .clover {
        width: 128px;
    }

    .footer__brand {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 6px;
        padding-top: 6px;
        margin-bottom: 26px;
    }

    .footer__top {
        gap: 1.063rem;
        padding-bottom: 2.438rem;
    }

    .footer__legal {
        margin-bottom: 1.375rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__brand p {
        font-size: 1.85rem;
        font-weight: 600;
        line-height:0.85rem;
    }

    .footer__brand img {
        width: 27px;
    }

    .footer__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__button {
        width: 184px;
        margin-right: 0;
    }

    .hero__picture--desktop {
        display: none;
    }
}

@media (min-width: 426px) {
    .hero__picture--mobile {
        display: none;
    }
}